---
name: module3_task4
on:
  push:
    paths:
      - 'module3_task4/**'
    tags:
      - "*.*.*"
    branches:
      - 'main'
    pull_request:
      branches:
        - 'master'
  schedule:
    - cron: '0 8 * * *'
jobs:
  task1:
    runs-on: ubuntu-18.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: install node
        uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: setup
        run: |
          cd module3_task4
          ./setup.sh
      - name: validate makefile
        run: |
          cd module3_task4
          make build
      - name: create package
        run: |
          cd module3_task4
          make package
      - name: make lint
        run: |
          cd module3_task4
          make lint
      - name: unit-tests
        run: |
          cd module3_task4
          make unit-tests
      - name: integration-tests
        run: |
          cd module3_task4
          make integration-tests
      - name: validate
        run: |
          cd module3_task4
          make validate
      - name: Archive awesome compressed
        uses: actions/upload-artifact@v3
        with:
          path: |
            ./module3_task4/awesome-website.zip
            ./module3_task4/DEPLOY.md
      - name: Create check run
        if: success()
        uses: actions/create-check-run@v3
        with:
          name: ci/build
          status: success
          conclusion: success
            - name: Create check run
